<html>
  <%- include('header',{title: `New Body`}); -%>
  <div class="container">
    <div class="row">
      <div class="col-0 col-md-1"></div>
      <div
        class="col-12 col-md-10 d-flex align-items-center justify-content-center"
        id="quote"
      >
        <h1><%= quote.quote %></h1>
      </div>
      <div class="col-0 col-md-1"></div>
    </div>
    <!-- Create cards for each fitness activity category -->
    <div class="row">
      <% type.forEach((element) => { %>
      <div class="col-md-3 col-6">
        <div
          class="card text-white"
          data-bs-toggle="modal"
          data-bs-target="#backdrop<%= element.id %>"
        >
          <img src="/images/<%= element.id %>.png" class="card-img" />
          <div class="card-img-overlay">
            <h5 class="card-title position-absolute bottom-0">
              <%= element.name %>
            </h5>
          </div>
        </div>
      </div>
      <!-- Define the modal to be opened for each fitness activity -->
      <!-- Modal -->
      <div
        class="modal fade"
        clear
        id="backdrop<%= element.id %>"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <form
          action="/logEntry"
          class="needs-validation"
          id="checkboxform"
          novalidate
          method="POST"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  <%= element.name %>
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <label for="date">Date</label>
                      <div class="input-group mb-3">
                        <input
                          type="date"
                          class="form-control"
                          id="entry"
                          name="date"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-12 visually-hidden">
                      <label for="type">Type</label>
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          readonly
                          class="form-control"
                          name="activity_type"
                          value="<%= element.id %>"
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="type">Icon</label>
                      <div class="input-group mb-3">
                        <i class="<%= element.icon%>"></i>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="duration">What did you do</label>
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="entry"
                          name="free_text"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="mood">How were you feeling</label><br />
                      <label for="mood">(Select at least 1)</label>
                      <div class="input-group mb-3">
                        <% mood.forEach((element) => { %>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="mood_id"
                            id="inlineRadio1"
                            value="<%= element.id %>"
                          />
                          <label
                            class="form-check-label"
                            id="checkboxLabel"
                            for="inlineRadio1"
                            ><%= element.name %></label
                          >
                        </div>
                        <% }); %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Modal END -->
      <% }); %>
    </div>
  </div>
  <%- include('footer'); -%>
</html>
