<html>
<%- include('header',{title: `Chart`}); -%>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Define icons for alerts-->
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </symbol>
    </svg>
  </div>
  <div class="container">
    <div class="row">
      <h1>
        <%= profile.name %>'s Activity Chart
      </h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-12">
        <div class="alert alert-warning align-items-center" role="alert">
          <h4 class="alert-heading">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
              <use xlink:href="#info-fill" />
            </svg>
            Using Spiderman test credentials
          </h4>
          <p>Please select 04 Oct 2023 to see seeded data.</p>
        </div>
      </div>
    </div>
    <!-- Render date select element -->
    <div class="row d-flex justify-content-center">
      <form id="sort">
        <input class="form-control" type="date" name="sortby" id="sort-options" />
        <div class="d-grid gap-2">
          <button class="btn btn-dark" input type="submit" id="sort-button">
            Select
          </button>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col">
        <!-- Render HTML element to populate chart -->
        <canvas id="myChart" width="200" height="200"></canvas>

        <!-- Render icons to be used in chart -->
        <div style="display: none">
          <img id="Swim" src="/images/1.svg" width="20" height="20" />
        </div>
        <div style="display: none">
          <img id="Run" src="/images/2.svg" width="20" height="20" />
        </div>
        <div style="display: none">
          <img id="Bike" src="/images/3.svg" width="20" height="20" />
        </div>
        <div style="display: none">
          <img id="Yoga" src="/images/4.svg" width="20" height="20" />
        </div>
        <div style="display: none">
          <img id="Meditate" src="/images/5.svg" width="20" height="20" />
        </div>
        <div style="display: none">
          <img id="Journal" src="/images/6.svg" width="20" height="20" />
        </div>
        <div style="display: none">
          <img id="Breathe" src="/images/7.svg" width="20" height="20" />
        </div>
        <div style="display: none">
          <img id="Read" src="/images/8.svg" width="20" height="20" />
        </div>
      </div>

      <script>
        // .... get HTML element to populate chart in .... //
        const ctx = document.getElementById("myChart").getContext("2d");

        // .... get HTML elements for icons .... //
        const Swim = document.getElementById("Swim");
        const Run = document.getElementById("Run");
        const Bike = document.getElementById("Bike");
        const Yoga = document.getElementById("Yoga");
        const Meditate = document.getElementById("Meditate");
        const Journal = document.getElementById("Journal");
        const Breathe = document.getElementById("Breathe");
        const Read = document.getElementById("Read");

        // .... prepare data to be passed into chart function .... //
        const dates = "<%=labels%>";
        const dateArray = dates.split(",");

        const swim = "<%=Swim%>";
        const SwimArray = swim.split(",");

        const run = "<%=Run%>";
        const RunArray = run.split(",");

        const bike = "<%=Bike%>";
        const BikeArray = bike.split(",");

        const yoga = "<%=Yoga%>";
        const YogaArray = yoga.split(",");

        const meditate = "<%=Meditate%>";
        const MeditateArray = meditate.split(",");

        const breathe = "<%=Breathe%>";
        const BreatheArray = breathe.split(",");

        const journal = "<%=Journal%>";
        const JournalArray = journal.split(",");

        const read = "<%=Read%>";
        const ReadArray = read.split(",");

        // .... function to generate chart .... //
        const myChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: dateArray,
            datasets: [
              {
                label: "Swim",
                data: SwimArray,
                pointStyle: [Swim, Swim, Swim, Swim, Swim, Swim],
                backgroundColor: ["rgba(53,121,181,1)"],
                borderWidth: 1,
                showLine: false,
              },
              {
                label: "Run",
                data: RunArray,
                pointStyle: [Run, Run, Run, Run, Run, Run],
                backgroundColor: ["rgba(195,223,224,1)"],
                borderWidth: 1,
                showLine: false,
              },
              {
                label: "Bike",
                data: BikeArray,
                pointStyle: [Bike, Bike, Bike, Bike, Bike, Bike],
                backgroundColor: ["rgba(227,188,93,1)"],
                borderWidth: 1,
                showLine: false,
              },
              {
                label: "Yoga",
                data: YogaArray,
                pointStyle: [Yoga, Yoga, Yoga, Yoga, Yoga, Yoga],
                backgroundColor: ["rgba(233,175,163,1)"],
                borderWidth: 1,
                showLine: false,
              },
              {
                label: "Meditate",
                data: MeditateArray,
                pointStyle: [
                  Meditate,
                  Meditate,
                  Meditate,
                  Meditate,
                  Meditate,
                  Meditate,
                ],
                backgroundColor: ["rgba(102,0,102,1)"],
                borderWidth: 1,
                showLine: false,
              },
              {
                label: "Breathe",
                data: BreatheArray,
                pointStyle: [
                  Breathe,
                  Breathe,
                  Breathe,
                  Breathe,
                  Breathe,
                  Breathe,
                ],
                backgroundColor: ["rgba(204,102,51,1)"],
                borderWidth: 1,
                showLine: false,
              },
              {
                label: "Journal",
                data: JournalArray,
                pointStyle: [
                  Journal,
                  Journal,
                  Journal,
                  Journal,
                  Journal,
                  Journal,
                ],
                backgroundColor: ["rgba(53,121,181,1)"],
                borderWidth: 1,
                showLine: false,
              },
              {
                label: "Read",
                data: ReadArray,
                pointStyle: [Read, Read, Read, Read, Read, Read],
                backgroundColor: ["rgba(140,155,136,1)"],
                borderWidth: 1,
                showLine: false,
              },
            ],
          },
          options: {
            scales: {
              y: {
                min: 0.5,
                suggestedMax: 18,
                title: { display: true, text: "Mood Score" },
              },
              x: {
                title: { display: true, text: "Dates" },
              },
            },
          },
        });
      </script>
    </div>
  </div>
  <%- include('footer'); -%>

</html>